/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/set/2016, 12:55:49
    Author     : david
*/

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
 
.infobackground {
    background-color: rgba(36,36,36,0.75);
    position:fixed;
    z-index:1950;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}
 
.info {
    height:600px;
    left:0;
    padding:15px 0 0;
    position:relative;
    text-align:center;
    top:0;
    width:500px;
    z-index:2000;
    display: none;
}
 
.info-content {
    border:medium none;
    height:580px;
    width:460px;
    position:relative;
    z-index:2050;
    padding-top: 0.390625%;
    padding-right: 1.492537%;
    padding-bottom: 0.982558%;
    padding-left: 1.492537%;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}